@page "/"
@namespace AntDesignGame
@using System.Numerics


<Layout>
	<Header>
		<div style="color: white;">
			实现基于Blazor的游戏开发demo（不使用Canvas） FPS: @(Math.Round(_fps, 2))
		</div>
	</Header>
    <Content>
			<div class="bgDiv" style="position: relative;">
				<GameWorld @ref="@_gameWorld" />
			</div>
	</Content>
	<Footer>
		<div style="text-align: center;">
			<a href="http://www.benmutou.com">www.benmutou.com</a>
		</div>
	</Footer>
</Layout>