@page "/"
@namespace AntDesignGame
@using System.Numerics


<Layout>
	<Header>
		<div style="color: white;">
			战斗模块尝试 FPS: @_fps
		</div>
	</Header>
    <Content>
			<div class="bgDiv" style="position: relative;">
				<GameWorld @ref="@_gameWorld" />
			</div>
	</Content>
	<Footer>
		<div style="text-align: center;">
			<a href="http://www.benmutou.com">www.benmutou.com</a>
		</div>
	</Footer>
</Layout>