@namespace AntDesignGame
@inherits GameWebComponent<ActorGameObject>
@using System.Drawing

<div style="@GetPositionStyle()">
	<div 
		id=@($"anim_{GameObject.Uid}")
		class=@($"actor actor{GameObject.State.ToString()}") 
		style="@ActorStyle"
	>
	</div>
</div>
