@namespace AntDesignGame
@using System.Drawing

<div style="@Style">
	@*<PropertyBar Size=@(new Size(100, 30)) CurrentValue="50" />*@
	<div 
		class=@($"actor actor{GameObject.State.ToString()}") 
		style="@ActorStyle"
	>
		@*<BulletManager @ref="@_bulletManager" />*@
	</div>
	@Children
</div>
