@page "/canvas"

@namespace FightGame

@using Blazor.Extensions
@using Blazor.Extensions.Canvas.Canvas2D
@using System.Drawing

<GraphicAssets />

<Layout>
	<Header>
		<div style="color: white;">
			战斗模块尝试
		</div>
	</Header>
    <Content>
		<div class="bgDiv">
			<div id="canvasContainer" style="width: 1200px; height: 600px;">
				<BECanvas  
					Width="1200" 
					Height="600" 
					@ref="_canvas">
				</BECanvas>
			</div>
		</div>
	</Content>
	<Footer>
		<div style="text-align: center;">
			<a href="http://www.benmutou.com">www.benmutou.com</a>
		</div>
	</Footer>
</Layout>
