@page "/canvas"

@namespace FightGame

@using Blazor.Extensions
@using Blazor.Extensions.Canvas.Canvas2D
@using System.Drawing

<img @ref="_spritesheet" hidden src="actor/1019010301.png" />

<Layout>
	<Header>
		<div style="color: white;">
			战斗模块尝试 FPS: @_fps
		</div>
	</Header>
    <Content>
		<div class="bgDiv">
			<div style="margin: 20% auto;width: 70%;">
				<BECanvas  
					Width="@(_game == null ? 10 : _game.Display.Size.Width)" 
					Height="@(_game == null ? 10 : _game.Display.Size.Height)" 
					@ref="_canvas">
				</BECanvas>
			</div>
		</div>
	</Content>
	<Footer>
		<div style="text-align: center;">
			<a href="http://www.benmutou.com">www.benmutou.com</a>
		</div>
	</Footer>
</Layout>
