@page "/fight"
@namespace FightGame

<Layout>
	<Header>
		<div style="color: white;">
			战斗模块尝试 FPS: @_fps
		</div>
	</Header>
    <Content>
		<div class="bgDiv">
			<div style="margin: 20% auto;width: 70%;">
				<div style="float: left;">
					<ActorOld @ref="@_hero" ActorId="1064020302" Mirror />
					<Space>
						<SpaceItem>
							<Button OnClick=@(() => { _hero.Attack(); })>攻击</Button> 
						</SpaceItem>
						<SpaceItem>
							<Button OnClick=@(() => { _hero.ReceiveHurt(); })>受伤</Button>
						</SpaceItem>
						<SpaceItem>
							<Button OnClick=@(() => { _hero.Resurgence(); })>复活</Button> 
						</SpaceItem>
						<SpaceItem>
							<Button OnClick=@(() => { _hero.Dead(); })>死亡</Button>
						</SpaceItem>
					</Space>
				</div>
				<div style="float: right;">
					<ActorOld @ref="@_monster" ActorId="1019010301" />
					<Space>
						<SpaceItem>
							<Button OnClick=@(() => { _monster.Attack(); })>攻击</Button> 
						</SpaceItem>
						<SpaceItem>
							<Button OnClick=@(() => { _monster.ReceiveHurt(); })>受伤</Button>
						</SpaceItem>
						<SpaceItem>
							<Button OnClick=@(() => { _monster.Resurgence(); })>复活</Button> 
						</SpaceItem>
						<SpaceItem>
							<Button OnClick=@(() => { _monster.Dead(); })>死亡</Button>
						</SpaceItem>
					</Space>
				</div>
			</div>
		</div>
	</Content>
	<Footer>
		<div style="text-align: center;">
			<a href="http://www.benmutou.com">www.benmutou.com</a>
		</div>
	</Footer>
</Layout>